@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

.underline-animation {
  position: relative;
  display: inline-block;
  padding-bottom: 4px;
}

.underline-animation::before {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  background-color: #fff;
  bottom: 0;
  right: 0;
  transition: width 0.2s ease-in-out;
}

.underline-animation:hover::before {
  width: 100%;
  left: 0;
  right: auto;
}
